world/
world_nether/
world_the_end/
logs/
*.log
crash-reports/
cache/
libraries/
versions/
usercache.json
ops.json
whitelist.json
banned-ips.json
banned-players.json
version_history.json
server.properties
eula.txt
.console_history
*.jar
start.bat
.paper-remapped/
plugins/
